html, body {
  height: 100%;
}

#main-container {
  padding: 30px 0;
}

footer {
  height: 200px;
  width: 100%;
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
