<a href="/">Voltar</a>
<h2>Adicione uma nota:</h2>
<form method="POST" action="/notes">
  <div class="mb-3">
    <label for="title" class="form-label">Título:</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Descrição:</label>
    <textarea type="text" class="form-control" id="description" name="description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Criar nota</button>
</form>