<a href="/">Voltar</a>
<h2>Editar nota:</h2>
<form method="POST" action="/notes/update">
  <input type="hidden" name="id" value="{{ note._id }}">
  <div class="mb-3">
    <label for="title" class="form-label">Título:</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ note.title }}">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Descrição:</label>
    <textarea type="text" class="form-control" id="description" name="description">{{ note.desc }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Editar</button>
</form>